[submodule "Derek-Firmware"]
	path = Derek-Firmware
	url = git@github.com:Lyall-A/Derek-Firmware.git
[submodule "Derek-Cam"]
	path = Derek-Cam
	url = git@github.com:Lyall-A/Derek-Cam.git
[submodule "Derek-PSU"]
	path = Derek-PSU
	url = git@github.com:Lyall-A/Derek-PSU.git
[submodule "Derekputer"]
	path = Derekputer
	url = git@github.com:Lyall-A/Derekputer
